.PostEdit {
    padding-top: 50px;
  }
  
  .EImg {
    margin-left: 150px;
    width: 70vw;
    height: 650px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .EForm {
    position: relative;
  }
  
  .EFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
  }
  
  .EIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .EInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
  }
  
  .EInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
  }
  
  .EInput:focus {
    outline-style: none;
  }
  
  .writeText {
    width: 70vw;
    height: 60vh;
    font-family: inherit;
    font-size: 20px;
  }
  
  .ESubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }